@{
    ViewData["Title"] = "Home Page";
}
@*
    https://www.youtube.com/watch?v=23pcCRvysX0
    https://www.tutorialspoint.com/jqueryui/jqueryui_droppable.htm
*@

<div class="container-fluid">
    <h1>ODALAMA - HOTEL 1</h1>
    <hr />
    <div class="row">
        <table class="table table-bordered">
            <tr>
                <td class="col-md-3">
                    <div>
                        <ol class="list-group">
                            <li class="list-group-item active" aria-current="true">YOLCU LİSTESİ</li>

                            <li id="yolcu-1"class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="me-auto">
                                    <div class="fw-bold">Ali DOĞAN</div>
                                </div>
                                <span class="badge bg-warning rounded-pill">2'Lİ ODA</span>
                            </li>
                            <li id="yolcu-2" class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="me-auto">
                                    <div class="fw-bold">Yasin DOĞAN</div>
                                </div>
                                <span class="badge bg-info rounded-pill">3'LÜ ODA</span>
                            </li>
                            <li id="yolcu-3"  class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="me-auto">
                                    <div class="fw-bold">Doğan YILMAZ</div>
                                </div>
                                <span class="badge bg-danger rounded-pill">4'LÜ ODA</span>
                            </li>
                        </ol>
                    </div>
                </td>
                <td class="col-md-9">
                    <div>
                        <div class="row">
                            <div class="col-2">
                                <ol class="list-group" id="list-group-1">
                                    <li class="list-group-item active" aria-current="true">101</li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="fw-bold">-</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="fw-bold">-</div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                            <div class="col-2">
                                <ol class="list-group">
                                    <li class="list-group-item active" aria-current="true">102</li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="fw-bold">-</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="fw-bold">-</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="fw-bold">-</div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                            <div class="col-2">
                                <ol class="list-group">
                                    <li class="list-group-item active" aria-current="true">103</li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="fw-bold">-</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="fw-bold">-</div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                            <div class="col-2">
                                <ol class="list-group">
                                    <li class="list-group-item active" aria-current="true">104</li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="fw-bold">-</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="fw-bold">-</div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                            <div class="col-2">
                                <ol class="list-group">
                                    <li class="list-group-item active" aria-current="true">105</li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="fw-bold">-</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="fw-bold">-</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="fw-bold">-</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="fw-bold">-</div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                            <div class="col-2">
                                <ol class="list-group">
                                    <li class="list-group-item active" aria-current="true">106</li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="fw-bold">-</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="fw-bold">-</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="fw-bold">-</div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
@section Scripts{
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#yolcu-1").draggable();
            $("#yolcu-2").draggable();
            $("#yolcu-3").draggable();
            $("#list-group-1").droppable({
                drop: function (event, ui) {
                    $(this)
                        .addClass("ui-state-highlight")
                        .find("li")
                        .html("Dropped!");
                },

                over: function (event, ui) {
                    $(this)
                        .addClass("ui-state-highlight")
                        .find("li")
                        .html("moving in!");
                },
                out: function (event, ui) {
                    $(this)
                        .addClass("ui-state-highlight")
                        .find("li")
                        .html("moving out!");
                }
            });
        });
    </script>
}